In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import os
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.externals import joblib
from sklearn import metrics
import lightgbm as lgb

sys.path.append('../')

In [7]:
train = pd.read_csv('/mnt/ml-team/minerva/open-solutions/avito/files/train_en.csv',nrows=1000)
periods = pd.read_csv('/mnt/ml-team/minerva/open-solutions/avito/data/periods_train.csv',nrows=1000)

In [8]:
train.head(1)

,Unnamed: 0,item_id,user_id,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability,category_name,city,description,param_1,param_2,param_3,parent_category_name,region,title
0,0,b912c3c6a6ad,e00f8ff2eaf9,400.0,2,2017-03-28,Private,d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,0.12789,Goods for children and toys,Ekaterinburg,"Cocoon for sleeping baby, enjoyed less than a ...",Bed dress,NaN,NaN,Personal things,Sverdlovsk region,Kokobi (cocoon for sleep)

In [9]:
periods.head(1)

        item_id activation_date   date_from     date_to
0  8f5caef7afb0      2017-02-14  2017-03-15  2017-03-16

# Feature Ideas
* How many times (count) item was seen
* Mean/var/Min/Max time was item on 
* Groupby of above per user
* Time delta activation to date
* Time delta mean between different times when item was active